<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--此标签需要放置在typeAliases标签后-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">

			<!-- 分頁合理化，預防使用request tool訪問 -->
			<property name="reasonable" value="true"/>		
		</plugin>
	</plugins>
</configuration>